<app-card>
  <div header class="header">
    {{name}}
  </div>
  <div content class="content">
    <div class="imgWrapper">
      <img [src]="imgUrl" />
    </div>
    <div class="qty">
      <label>Qty: {{numberInCart}}</label>
    </div>
  </div>
  <div footer class="footer">
    <div class="price">
      <label>Price:</label>
      <div>{{currencyFormater.format(price)}}</div>
    </div>
    <app-button [type]="1" text="Remove" *ngIf="numberInCart > 0" (click)="removeFromCart()"></app-button>
    <app-button [type]="2" text="Add To Cart" (click)="addToCart()"></app-button>
  </div>
</app-card>