@import '../../../styles.scss';

:host {
    app-expander{
        margin-top: 20px;
        section.preview {
            padding: 0px !important;
        }
    }

    .timeCostWrapper {
        display: flex;
        
        > div {
            padding: 0px 20px;
            border-right: 1px solid $grey;
            div {
                font-weight: bold;
            }
        }
    }
}