<app-expander [isSelectable]="true" headerText="GAP" displayPreview="true" [isSelected]="true">
  <div preview class="timeCostWrapper">
    <div>
      <label>Selected Product</label>
      <div>GAP with Power Buy</div>
    </div>
      <div>
        <label>Daily</label>
        <div>$1.36</div>
      </div>
      <div>
        <label>Per Payment</label>
        <div>$41.35</div>
      </div>
      <div>
        <label>Total Amount Financed</label>
        <div>$12,000</div>
      </div>
  </div>
  <div content>
    this is the content
  </div>
</app-expander>
<app-expander [isSelectable]="true" headerText="MMP" [isSelected]="true"></app-expander>